<div class="container">
  <br>
  <div class="card">
    <div class="card-header">
      #<%= @order.sn %> Order Status
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Payment Status: <%= @order.payment_status.split('_').join(' ').titleize %></li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            Shipping Status: <%= @order.shipping_status.split('_').join(' ').titleize %>
          </div>
          <div class="col text-right">
            <% if @order.shipping_status == "not_shipped" %>
              <%= link_to "Cancel Order", order_path(@order.id), method: :patch, class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <%= render partial: "shared/order_content" %>
  <br>
  <%= link_to "Back to Order List", orders_path, class: "btn btn-info btn-sm" %>
</div>
